message-board-comment-item {
  position: relative;

  border-bottom: 1px solid hsl(217, 50%, 20%);
  padding: 1rem 20px;

  transition: background-color 150ms;
}

message-board-comment-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

message-board-comment-item .container {
  display: flex;
  position: absolute;
  right: -2rem;
  top: -0.3rem;
  transform: translate(-50%, 50%);
  font-size: 0.75rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 350ms;
}

message-board-comment-item:hover .container {
  opacity: 1;
}

.edit-button {
  margin-right: 0.5rem;
}


.timestamp {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
}

input.comment {
  display: none;
}